.bd-img-01 {

    background-image: url('../../public/images/bd-img-01.jpg');
    max-width: "100%";
    max-height: "100%";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.bd-img-02 {

    background-image: url('../../public/images/bd-img-02.png');
    max-width: "100%";
    max-height: "100%";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bd-img-03 {

    background-image: url('../../public/images/bd-img-03.png');
    max-width: "100%";
    max-height: "100%";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.4;
}


.avatar {

    background-image: url('../../public/images/avatar-circle.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 140px;
    height: 140px;
    position: relative;
    left: 130px;
}


.about-img-01 {
    background-image: url('../../public/images/bd-img-02.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 500px;
    height: 500px;
}

.about-img-02 {
    background-image: url('../../public/images/bd-img-03.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 500px;
    height: 500px;
}

.about-img-03 {
    background-image: url('../../public/images/bd-img-01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 500px;
    height: 500px;
}