.product-container {
    flex-basis: calc(25%-20px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}
.card-container {
    flex-basis: calc(25% - 20px);
    max-width: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    justify-content: center;
    margin: 10px;
    align-items: center;
    padding: 5px;
    height: auto;
}
.image {
        height: 60%;
        width: 65%;
    /* margin: 0 auto; */
    /* padding:2px; */
    /* justify-self: center;
    align-self: center; */
    /* max-width: 100%;
    max-height: 100%; */
    object-fit: contain;
}
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
  }
.card-name{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}
.card-description{
    font-size: 1rem;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}
.card-price{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}

.add-to-cart-btn {
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
  }
  .rent-me-btn {
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* wid
th: 100%;
    height: 50%; */
  }
  .category-menu {
    margin-bottom: 20px;
  }
  
  @media screen and (max-width: 1400px) {
    .card-container {
      flex-basis: calc(33.33% - 20px); /* 3 cards in a row */
    }
  }
  
  @media screen and (max-width: 1100px) {
    .card-container {
      flex-basis: calc(50% - 20px); /* 2 cards in a row */
    }
  }
  
  @media screen and (max-width: 768px) {
    .card-container {
      flex-basis: 100%; /* 1 card in a row */
    }
  }
  @media screen and (max-width: 1400px) {
  .product-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1100px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .product-container {
    grid-template-columns: 1fr;
  }
}