.product-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: row;
}
.card-container {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    transition: 0.3s;
    justify-content: center;
    margin:auto;
    align-items: center;
    padding: 5px;
}
.image {
    height: 50%;
    width: 50%;
    /* margin: 0 auto; */
    /* padding:2px; */
    justify-self: center;
    align-self: center;
}
/* .img-container {
    
} */
.card-name{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}
.card-description{
    font-size: 1rem;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}
.card-price{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}