.product-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: row;
}
.card-container {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius:15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    transition: 0.3s;
    justify-content: center;
    margin:auto;
    align-items: center;
    padding: 5px;
}
.image {
        height: 60%;
        width: 65%;
    /* margin: 0 auto; */
    /* padding:2px; */
    /* justify-self: center;
    align-self: center; */
    /* max-width: 100%;
    max-height: 100%; */
    object-fit: contain;
}
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
  }
.card-name{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}
.card-description{
    font-size: 1rem;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}
.card-price{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}

.add-to-cart-btn {
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
  }
  .rent-me-btn {
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%;
    height: 50%; */
  }
.cart {
  background-color: lightblue;
}
.cart-items {
  /* padding-top: 20px; */
  font-size: 30px;
}

.button {
  padding-top: 30px;
}
