.checkout-container {
    position: fixed;
    top: 60px;
    right: 20px;
    z-index: 999;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .checkout-container h1 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .cart-items-container {
    margin-bottom: 10px;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .cart-item-name {
    font-weight: bold;
  }
  
  .cart-item-price {
    font-size: 0.8rem;
    color: #888;
  }
  
  .total-price {
    font-weight: bold;
    text-align: right;
    margin-bottom: 10px;
  }
  
  .purchase-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    float: right;
  }
  
  .purchase-btn:hover {
    background-color: #3e8e41;
  }
  